### Variables tipo: Entero, Float y String.

Nota: Tambien existen variables de tipo booleano y numero complejo (real+imaginario)

In [1]:
x=5 #Entero

In [2]:
numero= 9.3 #Float

In [11]:
Nombre = "Gabriel" #String entre comillas dobles
Apellido ='Sanmartino' #String entre comillas simples

### Palabra reservada "PRINT":

Permite recuperar el dato guardado en una variable

In [4]:
print(Nombre)

Gabriel

In [10]:
Nombre
Apellido  #Si no agregamos el print, muestra la ultima variable mencionada

'Sanmartino'

In [12]:
print(Nombre)
print(Apellido) #En este caso recuperara el contenido de ambas variables ya que en ambas se utilizo "print"

Gabriel
Sanmartino

### Palabra reservada "TYPE":

Nos permite conocer el tipo de dato que guarda una variable

In [13]:
type(x)

int

In [14]:
type(numero)

float

In [15]:
type(Nombre)
type(Apellido) #Al no utilizar el print nos devolvera el tipo de la ultima variable a la que nos referimos

str

In [16]:
print(type(Nombre))
print(type(Apellido))

<class 'str'>
<class 'str'>

### Funcion "BOOL":

Nos indica si el valor de una variable es "TRUE" o "FALSE"

In [17]:
bool(x) #Si el valor es TRUE nos indica que la variable no es nula

True

Ejemplos de variables "FALSE"

In [18]:
cero=0
string_vacio=""

In [19]:
bool(cero)

False

In [20]:
bool(string_vacio)

False

In [17]:
bool(cero)
bool(string_vacio)

False

In [16]:
print(bool(cero))
print(bool(string_vacio))

False
False

# Ejercicios

Ejercicio 1: Variables y la función print()
Declara tres variables: una cadena de texto (string), un número entero (int) y un número decimal (float). Luego, imprime sus valores.

In [21]:
presentacion = '¡Hola, Bienvenidos!, soy Gabriel, Data Analyst con mas de 3 años de experiencia en Python y Power BI'
edad = 29
promedio_academico = 9.9

print(presentacion)
print("Tengo", edad,"y soy de la provincia de San Juan")
print("Mi promedio academico es", promedio_academico)

¡Hola, Bienvenidos!, soy Gabriel, Data Analyst con mas de 3 años de experiencia en Python y Power BI
Tengo 29 y soy de la provincia de San Juan
Mi promedio academico es 9.9

Ejercicio 2: Tipos de variables y la función type()
Crea varias variables de diferentes tipos y usa la función type() para imprimir el tipo de cada variable.

In [22]:
correo_electronico="arsanmartino@gmail.com"
cel=2643191989

print('Puedes comunicarte conmigo a traves de mi correo electronico:', correo_electronico,"o via WhatsApp al numero:", cel)

Puedes comunicarte conmigo a traves de mi correo electronico: arsanmartino@gmail.com o via WhatsApp al numero: 2643191989

In [22]:
print("La variable 'correo_electronico' es de tipo:", type(correo_electronico))
print("La variable 'cel' es de tipo:",type(cel))

La variable 'correo_electronico' es de tipo: <class 'str'>
La variable 'cel' es de tipo: <class 'int'>

Ejercicio 3: La función bool()
Declara varias variables y usa la función bool() para imprimir el valor booleano de cada una.

In [5]:
var_int_nula=0
var_str_nula=''

In [10]:
print("La variable 'var_int_nula' es:",bool(var_int_nula))
print("La variable 'var_str_nula' es:",bool(var_str_nula))
print("La variable 'Nombre es:", bool(Nombre))
print(bool(Apellido))
print(bool(edad))

La variable 'var_int_nula' es: False
La variable 'var_str_nula' es: False
La variable 'Nombre es: True
True
True

Ejercicio 4: Operaciones con variables
Declara dos variables numéricas y realiza algunas operaciones básicas. Imprime el resultado de cada operación.

In [23]:
P=10 #Precio
Q=2 #Cantidad

In [24]:
Sum_P_Q = P + Q
Resta=P-Q
Producto=P*Q
Div=P/Q

In [25]:
print('Resultados de las operaciones entre las variables "Precio" (P) y "Cantidad" (Q), suma:',Sum_P_Q, ";resta:", Resta, ";Producto:", Producto, ";Divicion:", Div )

Resultados de las operaciones entre las variables "Precio" (P) y "Cantidad" (Q), suma: 12 ;resta: 8 ;Producto: 20 ;Divicion: 5.0

Ejercicio 5: Concatenación de cadenas
Declara dos variables de tipo cadena y concaténalas. Imprime el resultado.

In [19]:
saludo = "HOLA"
sustantivo = "MUNDO"

In [22]:
# Ejemplo de concatencaion 1: Uso de operador '+'

mensaje_1 = saludo+','+sustantivo + " !"

print(mensaje_1)

HOLA,MUNDO !